{% extends 'base.html.twig' %}


{% block body %}

   
    <header id="head" class="secondary"></header>
    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ asset('home') }}">Accueil</a></li>
            <li class="active">Recherche d'oiseaux</li>
        </ol>
        <div class="row">
            <header class="page-header">
                <h1 class="page-title">Rechercher des oiseaux</h1>
            </header>
        </div>

        <div class="row">
            <!-- Article main content -->
            <article class="col-md-8 maincontent">
                <!--div class="row widget"></div-->

                <h3>Situer l'oiseau sur la carte</h3>
                <!-- intégration de la carte -->
                <div id="mapid"></div>
            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left asideTheme">
                <!--div class="row widget">
                    <div class="col-xs-12">
                        <h4></h4>
                        <p></p>
                    </div>
                </div-->
                <div class="row widget">
                    <div class="col-xs-12">
                        <h3>Rechercher un oiseau</h3>

                        <form class="form-group" action="" method="post">
                            {{ form_start(form) }} <!-- definition de la classe directement là -->

                            {{ form_label(form.autocomp_bird) }}
                            {{ form_errors(form.autocomp_bird) }}
                            {{ form_widget(form.autocomp_bird, {'attr': {'data-path': path('jquery_autocomplete_birds') }}) }}
                        <div id="geo_coordinates">
                            {{ form_label(form.geo_latitude) }}
                            {{ form_errors(form.geo_latitude) }}
                            {{ form_widget(form.geo_latitude) }}

                            {{ form_label(form.geo_longitude) }}
                            {{ form_errors(form.geo_longitude) }}
                            {{ form_widget(form.geo_longitude) }}
                        </div>

                            {{ form_widget(form.save) }}

                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>

                <div class="row widget">
                    <div class="col-xs-12">
                        <h4></h4>
                        <p><img src="" alt=""></p>
                        <p></p>
                    </div>
                </div>

            </aside>
            <!-- /Sidebar -->


        </div>
    </div>    <!-- /container -->

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/observDisplay.js') }}"></script>
{% endblock %}