{% extends 'base.html.twig' %}


{% block body %}


    <header id="head" class="secondary"></header>
    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ asset('home') }}">Accueil</a></li>
            <li class="active">Recherche d'oiseaux</li>
        </ol>
        <div class="row">
            <header class="page-header">
                <h1 class="page-title">Rechercher des oiseaux</h1>
            </header>
        </div>

        <div class="row">
            <!-- Article main content -->
            <article class="col-md-8 maincontent">
                <!--div class="row widget"></div-->

                <h3>Situer l'oiseau sur la carte</h3>
                <!-- intégration de la carte -->
                <div id="mapid"></div>

            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left asideTheme">
                <div class="row widget">
                    <div class="col-xs-12">
                        <h3>Rechercher un oiseau</h3>

                        <form class="form-group" action="" method="post">
                            {{ form_start(form) }}

                            {{ form_label(form.autocomp_bird) }}
                            {{ form_errors(form.autocomp_bird) }}
                            {{ form_widget(form.autocomp_bird, {'attr': {'data-path': path('jquery_autocomplete_birds') }}) }}

                            <span id="pathBirds" data-path="{{ asset('displayRef') }}"></span>

                            {{ form_widget(form.save, { 'label': 'Rechercher' }) }}

                            <!--p><a class="" id="btn-display" href="{#{ path('displayBird', {'param_birdName' : nom_de_reference}) }#}" >Plus d'infos sur l'oiseau</a></p-->
                            <!--p class="display"><a class="" id="btn-display" href="">Plus d'infos sur
                                    l'oiseau</a></p-->
                            <button class="" id="btn-displayInfos" href="">Plus d'infos sur
                                l'oiseau</button>

                            <div class="invisible col-1">

                                {{ form_end(form) }}
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </div>

        <div class="row invisible" id="infos">
            <div class="row widget">
                <div class="col-xs-12">
                    <h3>Fiche de l'oiseau</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="">
                                <th id="" name="">Nom usuel</th>
                                <th id="" name="">Classe</th>
                                <th id="" name="">Famille</th>
                            </tr>
                            <tr>
                                <th id="birdNameVern" name="birdNameVern">A</th>
                                <th id="birdClass" name="birdClass">B</th>
                                <th id="birdFamily" name="birdFamily">C</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>    <!-- /container -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/observDisplay.js') }}"></script>
{% endblock %}
