{% extends 'base.html.twig' %}

{% block body %}

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ asset('home') }}">Accueil</a></li>
            <li class="active">Accès membre</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Devenir Membre Pro</h1>
                </header>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Souhaitez vous devenir Membre Pro ? (La demande doit etre validé)</h3>
                            <hr>

                            <form action="" method="post">
                                <div class="top-margin">
                                {{ form_start(form) }}	

								{{ form_row(form.sure) }}

                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-4 text-right">
                                        {{ form_widget(form.submit) }}


                                        {{ form_rest(form) }}
                            			{{ form_end(form) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->

{% endblock %}