{% block asideBar %}

            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left" id="sidebarMenu">

                <!--div class="row" id="sidebarMenu"></div-->
                <div class="row widget" id="obsLink">
                    <div class="col-xs-12 text-center">
                        <h4 id="title-user">Bienvenue {{ username }} !</h4>
                    </div>
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class="row widget" id="obsLink">
                    <div class="col-xs-12">
                        <h4><a href="{{ asset('myObservations') }}">Mes observations</a></h4>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4><a href="{{ asset('observForm') }}">Saisir une observation</a></h4>
                    </div>
                </div>

                <div class="row widget" id="allobsLink">
                    <div class="col-xs-12">
                        <h4><a href="{{ asset('allObservations') }}">Toutes les observations</a></h4>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4><a href="{{ asset('adminValidate') }}">Gérer les membres</a></h4>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4><a href="{{ asset('obsToValidate') }}">Les observations à valider</a></h4>
                    </div>
                </div>
                {% endif %}
            </aside>
            <!-- /Sidebar -->

{% endblock %}
