{% extends 'base.html.twig' %}

{% block body %}

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ asset('home') }}">Accueil</a></li>
            <li class="active">Page d'administration</li>
        </ol>

        <div class="row">
            <div class="row">
                <p></p>
            </div>
            <!-- Sidebar -->
            {% include ('pages/adminSpace/asideBar.html.twig') %}
            <!-- /Sidebar -->

            <!-- Article main content -->
            <article class="col-md-8 maincontent">
                <header class=" myPage-header">
                    <h2 class="page-title" id="observToValidate">Les membres Pro à valider</h2>
                </header>
                <section class="row obs">
                    {% if pager.haveToPaginate %}
                        {{ pagerfanta(pager, 'default', {'routeName': 'validate_pro_member'}) }}
                    {% endif %}

                    {% for user in pager.currentPageResults %}
                        <div id="obs_{{ user.id }}">
                            <u><h5 class="h5 title-obs">{{ user.username }}</h5></u>
                            <div class="col-lg-7">
                                <p>
                                    <span class="title-obs">Date de la demande :</span> {{ user.adminRequest | date("d/m/Y") }}
                                </p>
                                <p><span class="title-obs">Mail :</span> {{ user.mail }} </p>
                                <p><span class="title-obs">Nom Prenom : </span> {{ user.firstname }}, {{ user.lastname }}</p>

                            </div>
                            <div class="col">
                                <span class="numObs" name="obsNum_{{ loop.index }}"
                                      id="obsNum_{{ loop.index }}"> Id de l'utilisateur: {{ user.id }}</span>
                            </div>
                            <div class="row btn-group btn-grp-obs actionChoice" data-path="{{ asset('/becomeAdmin') }}">
                                <a class="btn-action btn btn-obs" name="validBtn_{{ user.id }}"
                                   type="button">Valider</a>
                            </div>
                            <form method="post" action="{{ asset('/stillUser') }}">
                                               
                                         <input type="hidden" name="idObs" id="RefusalIdObs" value="{{ user.id }}"/>
                                         <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
                                
                                    <button type="submit" class="btn btn-primary" name="report">Refuser</button>
                            </form>

                        </div>
                            <!--/div-->
                    {% endfor %}

                        </div>
                </section>
            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->
    <div  class="pagerfanta pull-right">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(observations, 'default', {'routeName': 'my_observations'}) }}
        {% endif %}
    </div>

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/users.js') }}"></script>
{% endblock %}